---
layout: default
---

<style>
  h1.head-alt-md {font-size:120%;}
</style>

{% include homepage/banner.html href="https://www.piratiastarostove.cz/kandidati/kraj/moravskoslezsky/" cta="Volby" title="Piráti Moravskoslezského kraje" img="header/msk-uvodni.jpg" %}

<div class="container container--default lg:pb-24">
  {% include homepage/news.html %}
  {% include homepage/countdown.html deadline="2021-10-08 08:00:00" %}
  {% include homepage/calendar.html %}
  {% include homepage/social.html %}
</div>
