body {
margin:0;
padding:0;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 93%;
}

#hlavicka {
position: relative;
width: 100%;
min-width: 370px; /* pro standardní prohlížeèe */
_width: 360px; /* pro Internet Explorer, který to chápe jako min-height*/
min-height: 65px; /* pro standardní prohlížeèe */
_height: 60px; /* pro Internet Explorer, který to chápe jako min-height*/
padding-top: 5px;
text-align: left;
background: #fff; 
border-bottom: #000 5px solid;
font-family: 'Oswald', sans-serif;
font-weight: 700;
}

#hlavicka h1 {
padding: 0;
margin: 0;
font-size: 33pt;
}

h1 {
font-family: 'Oswald', sans-serif;
font-weight: 700;
font-size: 25pt;
}
h2 {
font-family: 'Oswald', sans-serif;
font-weight: 700;
color: #736f6e;
font-size: 20pt;
}
h3 {
font-family: 'Oswald', sans-serif;
font-weight: 700;
color: #736f6e;
font-size: 15pt;
}
.logo {
padding: 0;
padding-top: 30px;
text-align: center;
}

#komunalky {
font-size: 15pt;
color: #736f6e;
}

#sedy-rozcestnik {
font-family: 'Oswald', sans-serif;
font-weight: 700;
font-size: 20pt;
text-align: center;
}
#sedy-rozcestnik a {
color: #736f6e;
text-decoration:none;
}
#sedy-rozcestnik a:hover {
color: #000;
text-decoration:none;
}

input.hledat {
border: 1px solid #736f6e;
width: 300px;
font-size: 15pt;
margin-top: 5px;
margin-bottom: 20px;
}

#rozcestnik {
font-family: 'Oswald', sans-serif;
font-weight: 700;
font-size: 20pt;
margin: 5px;
color: #736f6e;
}
#rozcestnik a {
color: #000;
padding-left: 15px;
padding-right: 10px;
border-left: #736f6e 2px  solid;
text-decoration:none;
}
#rozcestnik a:hover {
color: #736f6e;
text-decoration:none;
}
td  {
padding: 5px;
background: #ccc; 
}

.odkaz a {
color: #000;
text-decoration:none;
}
.odkaz a:hover {
color: #736f6e;
text-decoration:none;
}
.odkaz a:visited {
color: #736f6e;
text-decoration:none;
}

#hlavicka a {
color: #000;
text-decoration:none;
}
#hlavicka a:hover {
color: #736f6e;
text-decoration:none;
}
#socialni-prvky {
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}
#spodni-info {
color: #736f6e;
font-size: 60%;
margin-bottom:30px;
text-align: center;
}

#menu {
position: relative;
float: right;
padding: 3px;
padding-top: 10px;
text-align: right;
color: #ccc;
}
#menu a {
  text-decoration:none;
padding: 5px;
} 
#menu a:visited {
  text-decoration:none;
padding: 5px;
}
#menu a:hover {
}

#obsah {
position: relative;
width: 70%;
margin: 0 auto;
text-align:left;
}

#hlavnipanel {
position: relative;
width: 100%;
padding: 0;
margin:0;
padding-bottom: 80px;
border-bottom: #000 5px solid;
}
#hlavnipanel strong, b {
font-family: 'Oswald', sans-serif;
font-weight: 700;
font-size: 110%;
}

.kutloch {
position: relative;
float: left;
margin: 0; 
margin-top: 5px;
padding: 0;
padding-left: 10px;
padding-right: 15px;
border-left: #000 5px solid;
font-size: 110%;
}
.kutloch a {
color: #000;
text-decoration:none;
}
.kutloch a:hover {
color: #736f6e;
text-decoration:none;
}
.kutloch a:visited {
color: #736f6e;
text-decoration:none;
}
.nadpis-kutloch {
text-transform: uppercase;
font-family: 'Oswald', sans-serif;
font-weight: 700;
font-size: 140%;
}

.kutloch2 {
position: relative;
margin: 0; 
margin-top: 5px;
padding: 0;
padding-left: 10px;
padding-right: 15px;
padding-bottom: 15px;
border-left: #000 5px solid;
display: block;
}

#levy-kutloch {
float: left;
position: relative;
width: 30%;
}

#pravy-kutloch {
position: relative;
width: 70%;
margin: 0; 
margin-left: 30%;
}

.fotopopisek {
color: #736f6e;
font-size: 80%;
}

.kapitola {
margin: 0; 
padding: 0;
color: #736f6e;
font-weight: bold;
font-size: 130%;
font-family: 'Oswald', sans-serif;
font-weight: 700;
}
.kapitola a {
color: #736f6e;
text-decoration:none;
}
.kapitola a:hover {
color: #ccc;
text-decoration:none;
}

#paticka {
position:fixed;
right: 5px;
bottom:5px;
margin:0;
padding: 5px;
text-align: left;
color: #736f6e;
font-size: 70%;
}
#paticka a {
color: #736f6e;
text-decoration:none;
}

.right-obr {
margin-right: -20px;
border: 0;
}
hr.cleaner
{
clear:both;
display: none;
}

.obr-pruhledne a img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.obr-pruhledne a:hover img {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}
.box {
  position:relative;
  }


