---
layout: default
title: Aktuálně v Moravskoslezském kraji fungují tato místní sdružení...
---

<div class="container container--default pt-8 lg:py-24">
 <section>
<h1 class="head-alt-md md:head-alt-lg max-w-5xl mb-8">Místní sdružení ve Moravskoslezském kraji</h1>
  <main>
   <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">


{% include ms/item.html
    img='https://a.pirati.cz/moravskoslezsky/img/teams/karvina.jpg'
    name='Místní sdružení Karvinsko'
    area='okres Karviná'
    link='/mistni-sdruzeni/karvina.html'
    president='jakub.jezisek'
    fb="pirati.karvinsko"
    %}

{% include ms/item.html
    img= 'https://a.pirati.cz/moravskoslezsky/img/teams/moap.jpg'
    name='Místní sdružení Ostrava'
    area= "město Ostrava a přilehlé obce"
    link= "https://ostrava.pirati.cz"
    president= 'michal.najvarek'
    %}

{% include ms/item.html
    img="https://a.pirati.cz/moravskoslezsky/img/teams/opava.jpg"
    name="Místní sdružení Opavské Slezsko"
    area="okresy Opava a Bruntál"
    link="https://opava.pirati.cz"
    president="marian.babic"
    %}

{% include ms/item.html
    img="https://a.pirati.cz/moravskoslezsky/img/teams/frydek-mistek.jpg"
    name="Místní sdružení Frýdecko-Místecko"
    area="Frýdek-Místek a okolí"
    link="https://frydekmistek.pirati.cz/"
    president="leonard.varga"
    %}

   </div>
  </main>
  </section>
 </div>
