---
layout: page
title: Aktuálně v Moravskoslezském kraji fungují tato místní sdružení...
---

<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner">
        <div class="c-BasicPage">
          <div class="vspace-nb-m">
            <div class="row vspace-nb-m">

{% include ms/item.html
    img='teams/karvina.jpg'
    name='Místní sdružení Karvinsko'
    area='okres Karviná'
    link='/mistni-sdruzeni/karvina.html'
    president='<a href="https://wiki.pirati.cz/lide/alena_klocova">Alena Klocová</a>'
    fb="pirati.karvinsko"
    %}

{% include ms/item.html
    img= 'teams/moap.jpg'
    name='Místní sdružení Ostrava'
    area= "město Ostrava a přilehlé obce"
    link= "https://ostrava.pirati.cz"
    president= 'pavlina.novackova'
    %}
{% include ms/item.html
    img="teams/opava.jpg"
    name="Místní sdružení Opavské Slezsko"
    area="okresy Opava a Bruntál"
    link="https://opava.pirati.cz"
    president="pavel.korizek"
    %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
